
body{
    margin: 0;
    overflow: hidden;
    position: fixed;
}
ol{
    position: fixed;
    top: 0;
    left: 100px;
}
ol>li{
    list-style: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 10px 10px;
    display: inline-block;
}
.black{
    position: fixed;
    top:55px;
    left: 13px;
    background-color: black;
    cursor: pointer;
}
.red{
    position: fixed;
    top:100px;
    left: 13px;
    background-color: red;
    cursor: pointer;
}
.yellow{
    position: fixed;
    top:150px;
    left: 13px;
    background-color: yellow;
    cursor: pointer;
}
.green{
    position: fixed;
    top:200px;
    left: 13px;
    background-color: green;
    cursor: pointer;
}
.actions{
    position: fixed;
    top: 10px;
    left: 17px;

}
.actions svg{
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}
.actions #clear{
    width: 2.2em;
    height: 2.2em;
    margin-left: 3px;
}
.actions #brush.active{
    fill: black;
    transform: scale(1.1);
    transition: all .3s
}
.actions #eraser.active{
    fill: black;
    transform: scale(1.1);
    transition: all .3s
}
#download{
    padding-left: 8px;
}
.color{
    position: fixed;
    top: 251px;
    left:12px;
}